{% extends "layout.twig" %}
{% block class %}bk-pt-default{% endblock %}
{% block content %}

<!-- Header Include -->
<div class="sticky-footer">

{% include "includes/header.twig" %}

    <!-- Container -->
    <div class="container">

        <!-- Page Content -->
        <section class="template-content">

            <!-- Main Widget Zone -->
            {{zone('main')|raw}}

        </section>
        <!-- End Page Content -->

    </div>
    <!-- End Container -->
</div>
<!-- End Sticky Footer -->

{% endblock %}



